:root {
    --backgroundColor: rgb(128, 128, 128);
    --setColor: rgb(6, 111, 58);
    --gameColor: rgb(89, 4, 146);
    --pointColor: rgb(243, 241, 244);
}

* {
    font-family: 'Kanit', sans-serif;
    vertical-align: top;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

template {
    display: none;
}

screen#gameScreen {
    background-color: green;
    z-index: 0;
    display: none;
}

.inactive {
    display: none !important;
}

checkbox {
    border-radius: 100vh;
    position: relative;
    box-sizing: border-box;
}

checkbox > div {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: transparent;
    border-radius: 100vh;
}

checkbox.checked > div{
    background-color: white;
}

body {
    background-color: rgb(63, 120, 56);
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#ballAltitude {
    position: absolute;
    top: 20vh;
    right: 35vw;
    width: 1vw;
    height: 60vh;
    border: 3px solid white;
    display: flex;
}

#ballAltitude > .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
}

#ballAltitude > .target {
    position: absolute;
    width: 100%;
    height: 8%;
    display: none;
    top: 79.333%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#ballAltitude > .target > div:nth-child(1) {
    width: 100%;
    height: 25%;
    background-color: rgba(138, 30, 30, 0.7);
}

#ballAltitude > .target > div:nth-child(2) {
    width: 100%;
    height: 50%;
    background-color: rgba(138, 70, 30, 0.7);
}

#ballAltitude > .target > div:nth-child(3) {
    width: 100%;
    height: 25%;
    background-color: rgba(138, 124, 30, 0.7);
}

#exclamation {
    position: absolute;
    top: 30vh;
    height: 40vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

#exclamation > .bigText {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13vh;
    color: white;
    font-family: "Exo 2", sans-serif;
}

#exclamation > .smallText {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    color: white;
}

#exclamation > .smallText > img {
    height: 40%;
    object-fit: contain;
    margin-right: 0.5%;
}

#exclamation > .smallText > span {
    font-size: 4rem;
    color: white;
}

#shotType {
    position: absolute;
    top: 30vh;
    height: 10vh;
    width: 20vw;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}

#scoreboard {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    height: 6vh;
    width: 15vw;
    display: flex;
    align-items: center;
}

#scoreboard > .bar {
    height: 100%;
    width: 3%;
    background-color: var(--setColor);
}

#scoreboard > .names {
    width: 55%;
    height: 100%;
    background-color: var(--pointColor);
    color: var(--gameColor);
    display: flex;
    flex-direction: column;
}

#scoreboard > .names > div {
    margin-left: 2%;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#scoreboard > .serving {
    width: 6%;
    height: 100%;
    background-color: var(--pointColor);
    color: var(--gameColor);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#scoreboard > .sets {
    width: 11%;
    height: 100%;
    background-color: var(--setColor);
    display: flex;
    flex-direction: column;
}

#scoreboard > .sets > div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pointColor);
}

#scoreboard > .games {
    width: 11%;
    height: 100%;
    background-color: var(--gameColor);
    display: flex;
    flex-direction: column;
}

#scoreboard > .games > div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pointColor);
}

#scoreboard > .points > div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gameColor);
}

#scoreboard > .points {
    width: 11%;
    height: 100%;
    background-color: var(--pointColor);
    display: flex;
    flex-direction: column;
}

div#pauseButton {
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
    height: 7vh;
    width: 7vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vh;
    font-size: 3rem;
    cursor: pointer;
    z-index: 5;
}

div#pauseButton > i {
    font-size: 6vh;
    color: rgba(200, 200, 200);
}

#pauseMenu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

#pauseMenu > div {
    height: 35vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    border-radius: 2vh;
}

#pauseMenu > div > div {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    cursor: pointer;
}

#pauseMenu > div > div.resume {
    width: 30%;
}

#pauseMenu > div > div.forfeit > div {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pauseMenu > div > div.forfeit > div:nth-child(3) {
    height: 50%;
}

#pauseMenu > div > div.forfeit > div.title {
    font-size: 2rem;
}

#pauseMenu > div > div.forfeit > div:nth-child(2) {
    padding-left: 3%;
    display: block;
}

#pauseMenu > div > div.forfeit > div > div {
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    line-height: 2rem;
    width: min-content;
    margin: 0;
    margin-top: 0.35rem;
}

#pauseMenu > div > div.forfeit > div > div > span {
    font-weight: 600;
    color: green;
    font-size: 2rem;
}

#pauseMenu > div button {
    width: 50%;
    height: 50%;
    background-color: var(--setColor);
    border: 0;
    border-radius: 1vh;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

#pauseMenu > div > div.resume button {
    height: 25%;
    width: 90%;
}

#pauseMenu > div button:hover {
    background-color: var(--gameColor);
}

#pauseMenu img {
    height: 120%;
    object-fit: contain;
}